<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>股价变化</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
    <!--   <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/materialdesignicons.min.css" rel="stylesheet">
  <link href="css/style0.css" rel="stylesheet"> -->
    <script src="https://cdn.staticfile.org/echarts/4.7.0/echarts.min.js"></script>
    <style>


    </style>
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo" href="index.html"><img src="images/logo.svg" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg"
                            alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-toggle="minimize">
                        <span class="mdi mdi-sort-variant"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-4 w-100">
                    <li class="nav-item nav-search d-none d-lg-block w-100">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search now" aria-label="search"
                                aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown mr-1">
                        <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center"
                            id="messageDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-message-text mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="messageDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">David Grey
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">Tim Cook
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal"> Johnson
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-4">
                        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown"
                            id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-bell mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-success">
                                        <i class="mdi mdi-information mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-warning">
                                        <i class="mdi mdi-settings mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">Settings</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-info">
                                        <i class="mdi mdi-account-box mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="images/faces/face5.jpg" alt="profile" />
                            <span class="nav-profile-name">管理者</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="mdi mdi-settings text-primary"></i>
                                Settings
                            </a>
                            <a class="dropdown-item">
                                <i class="mdi mdi-logout text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="mdi mdi-home menu-icon"></i>
                            <span class="menu-title">股价变化</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="mdi mdi-circle-outline menu-icon"></i>
                            <span class="menu-title">其他</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="pages/ui-features/buttons.html">Buttons</a></li>
                                <li class="nav-item"> <a class="nav-link"
                                        href="pages/ui-features/typography.html">Typography</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex align-items-end flex-wrap">
                                    <div class="mr-md-3 mr-xl-5">
                                        <h2>山西汾酒的股价变化情况</h2>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-end flex-wrap">
                                    <button type="button"
                                        class="btn btn-light bg-white btn-icon mr-3 d-none d-md-block ">
                                        <i class="mdi mdi-download text-muted"></i>
                                    </button>
                                    <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                                        <i class="mdi mdi-clock-outline text-muted"></i>
                                    </button>
                                    <button type="button" class="btn btn-light bg-white btn-icon mr-3 mt-2 mt-xl-0">
                                        <i class="mdi mdi-plus text-muted"></i>
                                    </button>
                                    <button class="btn btn-primary mt-2 mt-xl-0">下载表格</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 表格二、三 -->
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="time1">
                                        <ul>
                                            <li style="background-color: #4d83ff; color: #fff; font-weight: 600;">日K
                                            </li>
                                            <li>周K</li>
                                            <li>月K</li>
                                            <li>5分钟</li>
                                            <li>15分钟</li>
                                            <li>30分钟</li>
                                            <li>60分钟</li>
                                        </ul>
                                    </div>
                                    <div></div>
                                    <div class="biaotou1">
                                        <p>山西汾酒</p>
                                        <div>
                                            <p style="color: rgb(58, 133, 245);">MA5:</p>
                                            <div style="color: rgb(58, 133, 245);">1701.0</div>
                                            <p style="color: rgb(236, 227, 100);">MA10:</p>
                                            <div style="color: rgb(236, 227, 100);">-0.66%</div>
                                            <p style="color: rgb(242, 110, 247);">MA20:</p>
                                            <div style="color: rgb(242, 110, 247);">414</div>
                                            <p style="color: rgb(88, 248, 115);">MA60:</p>
                                            <div style="color: rgb(88, 248, 115);">414</div>
                                        </div>
                                    </div>
                                    <div style="width: 92%;margin: auto;">
                                        <div id="gujia3" style="width:100%;height:450px;"></div>
                                        <script typr="text/javascript">
                                            // var close11 = {{close}};
                                            var json11 = {{json_data | tojson}};
                                            function analysis (data){
                                                var end_obj = [];
                                                for(i in data){
                                                    var obj = {name:'', datas:[]};
                                                    // obj.name = data[i].tablespace_name;
                                                    obj.value = data[i]['close'];
                                                    obj.datas[0] = data[i]['high'];
                                                    obj.datas[1] = data[i]['low'];
                                                    obj.datas[2] = data[i]['open'];
                                                    obj.datas[3] = data[i]['date'];
                                                    end_obj.push(obj);
                                                }
                                                return end_obj;

                                            };
                                            var data1 = analysis(json11)
                                            console.log(data1)
                                            var myChart3 = echarts.init(document.getElementById("gujia3"));
                                            var option3 = {
                                                tooltip: {
                                                    trigger: 'axis',
                                                    formatter:
                                                    //     function () {
                                                    //     return ('close:'+123+'</br>close:'+789)
                                                    // }
                                                    function(a){
                                                        return ('数据时间:'+a[0]['data']['datas'][3]
                                                               +'<br>最高价:'+a[0]['data']['datas'][0]
                                                               +'<br>最低价:'+a[0]['data']['datas'][1]
                                                               +'<br>开盘价:'+a[0]['data']['datas'][2]
                                                               +'</br>收盘价:'+a[0]['value']
                                                               );
                                                    },
                                                },
                                                xAxis: {
                                                    type: 'category',
                                                    splitLine: { show: false },
                                                    data: function () {
                                                        var list = [];
                                                        for (var i = 0; i <= 30; i++) {
                                                                list.push(i);
                                                            }
                                                        // for (var j = 8; j <= 10; j++) {
                                                        //     for (var i = 1; i <= 30; i++) {
                                                        //         list.push(j + '月' + i + '日');
                                                        //     }
                                                        // }
                                                        return list;
                                                    }(),
                                                    axisLabel: {
                                                        interval: 29,
                                                    },
                                                },
                                                yAxis: {
                                                    type: 'value'
                                                },
                                                series: [{
                                                    name: "close",
                                                    symbol: "none",
                                                    lineStyle: { color: '#3a85f5' },
                                                    // data: [
                                                    //     198.19, 196.68, 196.6, 196.94, 198.24, 198.31, 196.59, 198.29, 198.93, 197.79, 207.99, 209.85, 211.6, 210.02, 196.67, 188.08, 187.93, 190.25, 193.88, 198.01, 196.18, 195, 197.22, 193.38, 190.47, 188.1, 186.56, 177.79, 172.12, 167.06, 171.43, 172.52, 171.5,
                                                    //     166.9, 162.36, 161.34, 166.21, 166.87, 167.24, 170.15, 178.02, 178.58, 180.01, 180.34, 179.09, 174, 174, 163.86, 162.88, 169.5, 166.8,
                                                    //     158.97, 152.8, 156.55, 156.58, 173.98, 165.58, 163.96, 154.4, 151.2, 149.77, 152.05, 147.1, 147.55, 151.54, 151.26, 145, 143.77, 138.18, 138.5, 135.8, 137.82, 133.39, 133.36, 134, 133.32, 135.3, 133.98, 135.14, 134.99, 135.37, 134.6, 133.18, 129.97, 129.93, 131.85, 128.11, 124.5, 122.22
                                                    // ],
                                                    data: data1,
                                                    type: 'line'
                                                }]
                                            };
                                            myChart3.setOption(option3);
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright &copy;
                            2019.Company
                            name All rights reserved.<a target="_blank"
                                href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="vendors/chart.js/Chart.min.js"></script>
    <script src="vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/dashboard.js"></script>
    <script src="js/data-table.js"></script>
    <script src="js/jquery.dataTables.js"></script>
    <script src="js/dataTables.bootstrap4.js"></script>
    <!-- End custom js for this page-->
</body>

</html>